@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h1 {
  font-size: 119px;
  color: #F86E0C;
  font-weight: bold; 
}
body {
  text-align: none;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  background:#fff;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
}
br {
  line-height: .2em;
}
p {
  margin-top: 20px;
}
.intro{
  color: #F86E0C;
  margin-top: 30px;
  margin-right: 72px;
  text-align: right;
}
.container {
  margin: 0 auto;
  text-align: left; 
}
.content {
  margin-top: 35px;
  margin-right: 75px;
  text-align: right;
}
.wrapper {
  font-size: 22px;
  color: #3d4c53;
  margin-top: 15px;
}
a,a:visited,a:hover,a.hovered,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#3d4c53;
  font-size:1em;
}
a:hover,a.hovered{
  color:#F86E0C;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.1em;
  width:0;
  background:#F86E06;
}
a.first:after{
  left:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}


